<script>
{% block jquery %}

// ajax add to cart	

$('.btn.btn-warning').click(function(event){
	event.preventDefault();
	var formID = $(this).parent().attr('id')	
	var formData = $('#' + formID).serialize();
	console.log(formData);
	console.log(formID);
	$.ajax({
		type: "GET", // "POST"
		url: "{% url 'cart' %}",
		data: formData,
		success: function(data) {
			showFlashMessage(data.flash_message);
			updateCartItemCount();
		}, 
		error: function(response, error) {
			// console.log(response)
			// console.log(error)
			$('#' + formID).submit()
		}
	})
})


{% endblock %}
</script>

<div class='row'>

{% for product in object_list %}
	
	<div class='col-xs-12 col-sm-4 col-md-3 {{ col_class_set }}'>
	{% include "products/product_thumbnail.html" with product=product price="True" count=forloop.counter %}
	</div>
	{% if not col_class_set %}
{% cycle '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '' '</div><div class="row">' %}
{% endif %}
{% endfor %}

</div>